h1{color:white;
	background-color:black;
	font-family:cursive;
	text-align:center;}

	h2{color:dark;
	background-color:silver;
	padding:10px;
	}

	.para{font-size:15px;
		font-family:monospace;
	
	}
	#ref{color:purple;}

	footer{
	color:#9E9A99;
	background:lightgrey;
	font-size:13px;
	padding:15px;}
	.flex {
	display:flex;
	flex-wrap: wrap;
	
	}
	.flex div {
	margin:10px;
	flex: auto;
}
